.row { margin-top:15%; text-align:center;
	.canon, .tags { background:$gray-2; height:100%; width:inherit; color:$text-color;}
	.content-belt { height:100%; width:inherit; padding:2em 2em; background:$gray-1; color:$text-color; font-size:2.3em; }
}