@font-face {
	font-family: 'Quattrocento Sans';
	font-style:normal;
	src: url('/assets/fonts/QuattrocentoSans-Regular.ttf') format('truetype');
}

body { background:#fff; font-family: 'Quattrocento_Sans';}
