@font-face { 
	font-family: 'Quattrocento Sans';
	font-style:normal;
	src: url('/assets/fonts/QuattrocentoSans-Regular.ttf') format('truetype'); 
}

body { background:$brand-primary; font-family: 'Quattrocento_Sans';}